{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vente en ligne">
    <meta name="author" content="Louange Balerwa">

    <title>{% block 'title' %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bases.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/stylesTab.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">  -->
</head>

<body>
  <div class="principale">
    <div class="contenaires">
      <header>
        <!-- Menu principale -->
          <ul class="menu">
            <li><a href="{% url 'pages:home'%}">Home Page</a></li>
            <li><a href="{% url 'pages:categories' %}" >Vers Page Menus</a><l/li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'pages:affichage_auteur'%}">Voir Auteurs</a></li>
            <li><a href="{% url 'pages:affichage_compte'%}">Creer un Comptes</a></li>
            
            <li><a href="{% url 'pages:about' %}">About Me</a></li>
          </ul>
      </header>
      {% block 'content' %}
      {% endblock %}
    </div>
    
    <div class="contenaires">
       <!-- Footer  -->
      <footer >
        <div class="footer-text">
          <!-- Realisateur -->
          <p>Réalisé par <span>louangebalerwa</span> | Tous les droits sont reservés. <br>&copy; Vente de livres 2024</p>
          </p>
        </div>
      </footer>
    </div>
      
  </div>
  
    
</body>
</html>