{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Articles{% endblock %}

{% block 'content' %}
<section class="livres">  
        {% for livre in livres%}
        <div class="livre">
            <h2>{{livre.Titre}}</h2>
          {% if livre.photo %}
            <img src = "/media/{{livre.photo}}">
          {% endif %}
          <p>Prix : {{livre.prix}} $</p>
          <p>Date de publication: {{livre.date_pub}}</p>
          <p>Auteur : {{livre.auteur}}</p>
          <a href="{{livre.fichier_pdf.url}}">Telechargement PDF</a>
        </div>
      {% endfor %}
      <div>
        <ul class="menu_livre">
          <li><a href="{% url 'pages:mesLivres' %}">Publication Un livre</a></li> 
          <li><a href="{% url 'pages:formulaire'%}">Acheter</a></li>
        </ul>
      </div>  
</section>
<br>
<br>
{% endblock %}


