{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Show_Auteur{% endblock %}

{% block 'content' %}
    <h1>Listes des Auteurs {% if perms.pages.add_auteur %}<a href ="ajouter_auteur" class="btn_save">Ajouter</a> {% endif %}</h1>
    <br>
    <table  class="tableau" >
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>ADRESSE MAIL</th>
                <th>NUMERO_TEL</th>
                <th>MATRICULE</th>
                <th>PAYS</th>
                <th>VILLE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for auteur in auteurs %}
                <tr>
                    <td>{{ auteur.id }}</td>
                    <td>{{ auteur.nom_auteur }}</td>
                    <td>{{ auteur.email}}</td>
                    <td>{{ auteur.num_tel }}</td>
                    <td>{{ auteur.matricule }}</td>
                    <td>{{ auteur.pays }}</td>
                    <td>{{ auteur.ville }}</td>
                    <td>{% if perms.pages.change_compte %}
                        <a href="{% url 'pages:modifier_auteur' auteur.id %}" class="btn_edit">Editer</a>
                        {% endif %}
                        {% if perms.pages.delete_auteur %}
                        <a href="{% url 'pages:supprime_auteur' auteur.id %}" class="btn_supprime"> X </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    Liste des Auteurs!!!
                </td>
            </tr>
        </tfoot>
    </table> 

    <div>
        <a href="{% url 'pages:categories' %}" id = "retour">Vers Page Menus</a>
      </div>
        
{% endblock %}

