{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Show_Penses{% endblock %}

{% block 'content' %}
    <header>
        <ul class="menu">

            <li><a href="{% url 'pages:messageImg' %}">Publier une Photo</a></li>
            <li><a href="{% url 'pages:pense_positives' %}">Puplier un texte</a></li>
            <li><a href="{% url 'pages:categories' %}">Vers Page Menus</a></li>
        </ul>
    </header>
    {% for pense in penses %}
       <div>
            <h3>{{ pense.TitreP }}</h3>
            <p>{{ pense.contenus}}</p> 
            <p>{{ pense.nom_auteur }}</p>
            <p>{{ pense.date}}</p>    
       </div>
    {% endfor %}
   <div>
    {% for message in messages %}
       <h2>{{message.nom_auteur}}</h2>
        {% if message.image %}
          <img src = "/media/{{message.image}}" width="96" height ="96">
        {% endif %}
       <p>{{message.date_mes}}</p>
    {% endfor %}

  </div>

{% endblock %}