{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Show_Penses{% endblock %}

{% block 'content' %}
<section class="livres"> 

    {% for pense in penses %}
      <div class ="article">
            <h2>{{ pense.TitreP }}</h2>
            <p>{{ pense.contenus}}</p> 
            <h3>Selon :{{ pense.nom_auteur }}</h3>
            <p>{{ pense.date}}</p>   
       </div>
    {% endfor %}
    <div>
      <ul class="menu_livre">
        <li><a href="{% url 'pages:pense_positives' %}">Puplier un texte</a></li>
      </ul>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
