{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Article{% endblock %}

{% block 'content' %}
    <header>
      <!-- Menu principale -->
        <ul class="menu">
          <li><a href="{% url 'pages:home'%}">Home Page</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'pages:affichage_auteur'%}">Voir Auteurs</a></li>
          <li><a href="{% url 'pages:affichage_compte'%}">Creer un Comptes</a></li>
          <li><a href="{% url 'pages:about' %}">About Me</a></li>
        </ul>
    </header>
    <section class="arts">
        <div class="art">
          <a href="{% url 'pages:affichage_livre' %}">
            <button class="btn_lien">Voir Livres!</button>
          </a>
          <a href="{% url 'pages:affichage_penses'%}">
            <button class="btn_lien">Voir Penses du jour!</button>
          </a>
        </div>
    </section>
{% endblock %}