{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Formulaire d'achat{% endblock %}

{% block 'content' %}
<h1>Faire Achat</h1>
  <div class="acheter">
    <form action = "{% url 'pages:formulaire' %}"  method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="" value="Envoyer"> 
      <div  class="retour_btn_form">
        <a href="{% url 'pages:categories' %}" id = "retour_form">Vers Page Menus</a>
      </div>
  </form>
 </div>
{% endblock %}

