<!-- page d'accueil -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vente en ligne">
    <meta name="author" content="Louange Balerwa">
    <title>Vente_livre</title>
    <link rel="stylesheet" href="{% static 'css/bases.css' %}" type="text/css">
</head>
<body style="background-image:url('{% static 'pages/images/image1.jpg' %}'); background-repeat: no-repeat;background-size: cover; background-position: center center">
  <section class="accueil">
    <div>
      <h1 id="titreAcueil">VENTE DE LIVRES</h1>
      <p class="texteAcueil"><em>Welcome!</em></p>
      
      <a href="{% url 'pages:categories' %}">
        <button id="btn_entrer">Entrer</button>
      </a>
     <!-- <a href="{% url 'login' %}">
        <button id="btn_entrer">Login</button>
      </a> -->
    
    </div>
  </section>
  
  
</body>
</html>

<!-- 
<p class="texteB">Bienvenus sur notre site de Vente de Livres en ligne! <br/>
  Ici nous vendons de livres de tout genres.
</p>  -->

