{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Publication{% endblock %}

{% block 'content' %}
    <h1>Publications</h1>
     {% comment %} {% url 'contact_submit' %} {% endcomment %}
  <section id="publcation">
    <form action="" method="post">
      <label for="name">Nom</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="num">Votre numéro de téléphone</label>
      <input type="text" id="num" name="num" required>
      <br>
      <label for="name">Pays d'Origine</label>
      <input type="text" id="pays" name="pays" required>
      <br>
      <label for="titre">Titre du Livre</label>
      <input type="text" id="titre" name="titre" required>
      <br>
      <label for="prix">Prix du livres</label>
      <input type="text" id="prix" name="num" required>
      <br>
      <label for="">Date de publication</label>
      <input type="date" id="date" name="date" required>
      <br>
      <label for="livre">Commentaires</label>
      <textarea id="" name="livre" rows="5" required></textarea>
      <br>
      <button type="submit">SubMit</button>
      <div>
        <a href="{% url 'pages:categories' %}">Vers Page Menus</a>
      </div>
    </form>
  </section>

{% endblock %}