{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Article{% endblock %}

{% block 'content' %}
    <header>
      <!-- Menu principale -->
        <ul class="menu">
          <li><a href="{% url 'pages:home'%}">Home Page</a></li>
          <!-- <li><a href="{% url 'pages:pub' %}">Publication</a></li> -->
          <li><a href="{% url 'pages:formulaire'%}">Formulaire</a></li>
          <li><a href="{% url 'pages:affichage_auteur'%}">Voir Auteurs</a></li>
          <li><a href="{% url 'pages:affichage_compte'%}">Voir Comptes</a></li>
          <li><a href="{% url 'pages:affichage_penses'%}">Penses du Jours</a></li>
          <li><a href="{% url 'pages:about' %}">About Me</a></li>
          
        </ul>
      </header>
      
    <!-- section mes Articles-->
    
    <div >
    <img id="myImage" src="{% static 'pages/images/image_bib.jpg' %}" alt="Biblioteque">
    </div>
    <!-- <a href="{% url 'login' %}">
      <button>Login</button>
    </a> -->
{% endblock %}