{% extends 'base-template.html' %}

{% load static %}

{% block 'title' %}Show_Images{% endblock %}

{% block 'content' %}
    <div>
      {% for message in messages %}
         <h2>{{message.nom_auteur}}</h2>
          {% if message.image %}
            <img src = "/media/{{message.image}}" width="96" height ="96">
          {% endif %}
         <p>{{message.date_mes}}</p>
      {% endfor %}

    </div>
            
      
    <a href="{% url 'pages:categories' %}">Vers Page Menus</a>
        
{% endblock %}
