{% extends 'base-template.html' %}

{% block 'title' %}User Profile{% endblock %}

{% block 'content' %}
    <h1>User Profile</h1>

    <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <p><a href="{% url 'password_change' %}">
        <button>Change Password</button>
    </p>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Logout"></p>
    </form>
{% endblock %}